@import "variables";
@import "reset";
@import "mixins";
@import 'mvp';
html {
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: $font-text, display;
    scroll-behavior: smooth;
}
body {
    font-size: 1.8rem;
    font-family: $font-text, display;
    background-color: $color-blue-x-light;
    color: $color-black;
    &.dark {
        background-color: $color-black;
        color: $color-white;
    }
}
a[href]{
    text-decoration: none;
    color: $color-primary;
    &:hover {
        text-decoration: underline;
        color: $color-primary-dark;
    }
}


