.page-show {
    background: $color-white;
    &__intro {
        font-family: $font-text;
        font-style: italic;
        font-weight: bold;
    }
    &__separator {
        margin: 2rem 0;
        border-top: 2px solid $color-gray-light;
        border-radius: 5px;
    }

}
