.footer {
    background-color: #414141;
    width: 100%;
    max-width: 100%;
    padding: 3rem 1rem;
    gap: 3rem;

    display: grid;
    grid-template-columns: 1fr;
    @include min-width(767px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include min-width(1170px) {
        grid-template-columns: 1fr 1fr 1fr;
    }


    &__left {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-white;
        &__wrapper {
            width: 80%;
        }
        .font-title {
            margin-bottom: 1rem;
        }

        &__address, &__phone, &__mail {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
    &__center {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__wrapper {
            width: 80%;
        }

        &__about {
            color: #fff;
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        &__icons {
            display: flex;
            justify-content: center;
            padding: 1rem 0;
            width: 100%;
            margin-bottom: 1rem;

            &__link {
                margin: 0 1rem;

                svg {
                    width: 5rem;

                    path {
                        fill: #fff;
                    }
                }

                .linkedin {
                    transform: scale(1.2);
                }

                .fb {
                    transform: scale(1.1);
                }

                &:hover {
                    .fb {
                        path {
                            fill: #3b5998;
                        }
                    }

                    .git {
                        path {
                            fill: #7a7a7a;
                        }
                    }

                    .linkedin {
                        path {
                            fill: #0077b5;
                        }
                    }
                }
            }

            @include min-width(767px) {
                justify-content: flex-start;
            }
        }
    }


    &__right {
        display: none;
        color: $color-white;

        &__image {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 20rem;
                height: auto;
            }
        }
        &__credits {
            display: flex;
            justify-content: center;
        }


        @include min-width(1170px) {
            display: block;
        }
    }
}
