.nav-menu {
    z-index: 101;
    position: relative;
    display: flex;
    flex-direction: column;

    &__burger {
        position: absolute;
        top: 2rem;
        right: 2rem;
        background: $color-primary;
        outline: none;
        border: none;
        display: flex;
        padding: 4px;
        border-radius: 0.6em;
        transition: all 0.3s ease;
        max-width: 50px;


        &:hover {
            transition: all 0.3s ease;
            cursor: pointer;

            .picto-close, .picto-burger {
                border-radius: $border-radius;
                background: $color-primary;
                color: $color-white;
            }
        }

        .picto-burger {
        }

        .picto-close {
            display: none;
        }

        &.active {

            .picto-burger {
                display: none;
            }

            .picto-close {
                border-radius: $border-radius;
                display: block;
                background: $color-primary;
                color: $color-white;
            }
        }


    }

    &__logo {
        margin: 2rem;


        &__link {
            &__img {
                max-width: 15rem;
                height: auto;
                padding: 1rem;
            }
        }
        &__img {
            max-width: 15rem;
            height: auto;
            padding: 1rem;
        }
    }

    &__navigation {
        display: none;

        &__item {
            text-align: center;
        }

    }

    &__contact {
        display: none;

        &__item {
            font-size: 2.5rem;
            text-align: center;
        }

    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba($color-black, 0.98);
        display: none;
        z-index: 100;

        &.active {
            display: block;
        }
    }

    &.active {
        align-items: center;

        .nav-menu__logo {
            margin: 5rem 0 2rem 0;
            background: $color-white;
            color: $color-primary;
            outline: none;
            border: none;
            min-width: 75px;
            min-height: 75px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;


        }

        .nav-menu__navigation {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 4rem;


            &__item {
                list-style: none;
                margin: 1rem 0;
                font-size: 2.5rem;

                a {
                    text-decoration: none;
                    color: $color-white;
                    font-weight: 700;

                    &:hover {
                        color: $color-primary;
                        background: $color-white;
                        border-radius: $border-radius;
                        padding: 0.5rem 1rem;
                    }
                }
            }
        }

        .nav-menu__contact {
            display: block;
            text-decoration: none;
            color: $color-white;
            font-size: 1.5rem;
            font-weight: 700;
            padding: 0.5rem 1rem;

            &:hover {
                color: $color-primary;
                border-radius: $border-radius;
            }

            &__item {
                list-style: none;
                margin: 1rem 0;
            }
        }
    }

    @include min-width(1170px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        &__burger {
            display: none;
        }
        &__logo {
            flex: 1;
            text-align: center;

            &__link {
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
            }
        }
        &__navigation {
            display: flex;
            flex: 4;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 10rem;
            padding: 0 3rem;

            &__item {
                margin: 0 2rem;
                transition: all ease-in-out 0.5s;

                &__link {
                    color: $color-primary;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 700;

                    &:hover {
                        color: $color-black;
                        cursor: pointer;
                        text-decoration: none !important;

                    }

                    &.active {
                        color: $color-black;
                    }
                }

            }
        }
        &__contact {
            display: flex;
            flex: 1;
            text-align: center;

            &__item {

                &__link {
                    padding: 1rem 2rem;
                    color: $color-primary;
                    font-size: 1.8rem;
                    text-decoration: none;
                    transition: all ease-in-out 0.5s;
                    text-transform: uppercase;

                    &.active {
                        color : $color-black;
                    }

                    &:hover {
                        //    background: rgba($color-primary, 0.5);
                        color: $color-black;
                        //    border-radius: $border-radius;
                        //    transition: all ease-in-out 0.5s;
                    }


                }
            }
        }
    }
}

html {
    &.no-scroll {
        overflow: hidden;
    }
}
